{% extends 'store/base.html' %}
{% load static %}

{% block content %}
  {% for item in items %}
    <div class="d-flex justify-content-center align-items-center flex-wrap gap-x-[11px] gap-y-2 pt-2">
      <div class="relative w-full rounded-[10px] bg-white pt-[52px] xl:max-w-[32%] 2xl:w-[24%] 3xl:w-[19.2%] border shadow-[0px_1px_4px_rgba(0,0,0,0.08)]">
        <div class="mb-[22px] flex h-[206px] gap-[9px]">
          <div class="absolute right-2 mt-1">
            <div class="flex items-center gap-[6px] flex-col">
              <div class="rounded-full h-2 w-2" style="background-color: rgb(207, 207, 207);"></div>
            </div>
          </div>
          <div class="relative mx-auto">
            <a target="_blank" class="" href="#">
              <img loading="lazy" width="206" height="206" title="Asus Laptop 15.6-inch VivoBook 15 R1502ZA i7 12700H 40GB 256GB" src="{{ item.image.url }}" alt="Asus Laptop VivoBook 15-image">
            </a>
          </div>
        </div>
        <div class="flex h-12 items-center justify-content-center text-center">
          <div class="flex flex-col items-center w-[70px]">
            <svg class="icon-icon-monitor fill-gray-600 w-4 h-4 mb-1 mt-[10px]">
              <i class="fa fa-laptop" aria-hidden="true"></i>
            </svg>
            <p class="yekanbakh-en text-xs font-semiBold leading-4 text-gray-700">15.6</p>
          </div>
          <div class="flex flex-col items-center w-[70px]">
            <svg class="icon-icon-processors fill-gray-600 w-4 h-4 mb-1 mt-[10px]">
              <i class="fa fa-microchip" aria-hidden="true"></i>
            </svg>
            <p class="yekanbakh-en text-xs font-semiBold leading-4 text-gray-700">Core i7</p>
          </div>
          <div class="flex flex-col items-center w-[70px]">
            <svg class="icon-icon-ram fill-gray-600 w-4 h-4 mb-1 mt-[10px]">
              <i class='fa-solid fa-memory'></i>
            </svg>
            <p class="yekanbakh-en text-xs font-semiBold leading-4 text-gray-700">40GB</p>
          </div>
        </div>
        <div class="px-4 pt-6">
          <a target="_blank" class="yekanbakh-en -tracking-0.5 line-clamp-3 h-[75px] overflow-hidden text-sm font-medium leading-[25px] text-gray-800 d-flex justify-content-center" href="#">{{ item.title }}</a>
          <div class="mt-2 flex h-5 w-full items-center justify-content-end">
            <div class="flex items-center gap-[2px]"></div>
          </div>
        </div>          
        <div class="pt-6">
          <div class="flex justify-between px-4 pb-4">
            <div class="rounded-[3px] bg-red-600 text-white flex justify-content-center items-center gap-1 min-w-6 px-1 h-[17px] lg:h-[19px] lg:min-w-7 bg-red-600">
              <svg class="icon-white-percent fill-white w-[9px] h-[9px] lg:w-[11px] lg:h-[11px]">
                <i class="fa fa-percent" aria-hidden="true"></i>
              </svg>
              <span class="text-center flex text-sm justify-center items-center font-semiBold leading-4 pt-[1px] lg:pt-[3px]">15</span>
            </div>
            <div class="flex flex-col items-center text-center">
              <p class="text-[22px] font-semiBold leading-5 text-red-600">{{ item.discounted_price }}<span class="text-gray-800 text-xs font-medium mr-1 font-semiBold leading-5 text-red-600">$</span></p>
              <div class="flex pl-[1px]">
                <p class="text-lg leading-5 text-gray-500 line-through">{{ item.price }}<span class="text-gray-800 text-xs font-medium mr-1 font-semiBold leading-5 text-gray-500">$</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
