{% extends "store/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            <div class="media-body">
                <h2 class="account-heading mb-2">{{ user.username }}</h2>
                <p class="text-secondary mb-1">{{ user.email }}</p>
                <p class="text-secondary">{{ user.phone_number }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Personal Info</legend>
                {% for field in personal_form %}
                    {% if field.field.widget.input_type %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}*</label>
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" value="{{ field.value|default_if_none:'' }}" required>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}*</label>
                            <textarea style="resize: none;" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.label }}" required>{{ field.value|default_if_none:'' }}</textarea>
                        </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock content %}
