{% extends 'store/base.html' %}
{% load custom_filters %}
{% load item_spec_value_filters %}

{% block content %}
  {% for item in items %}
    <div class="d-flex justify-content-center align-items-center flex-wrap gap-2 pt-2">
      <div class="position-relative w-100 rounded-10 bg-white pt-5 xl-max-w-32 2xl-w-24 3xl-w-19.2 border shadow-0px_1px_4px_rgba(0,0,0,0.08)">
        <div class="mb-3 flex h-206 gap-3">
          <div class="position-absolute right-2 mt-1">
            <div class="d-flex items-center gap-2 flex-column">
              <div class="rounded-full h-2 w-2" style="background-color: rgb(207, 207, 207);"></div>
            </div>
          </div>
          <div class="position-relative mx-auto">
            <a target="_blank" class="d-flex justify-content-center" href="{% url 'item-detail' item.id %}"><img loading="lazy" width="206" height="206" title="{{ item.title }}" src="{{ item.image.url }}" alt="{{ item.title }} Laptop Image" /></a>
            <div class="d-flex justify-content-center mt-6">
              <!-- View item_spec_values related to the 'Display' Spec -->
              {% with item_spec_values=item.itemspecvalue_set %}
                {% if item_spec_values|get_item_spec_values_for_spec:'Display' %}
                  {% for item_spec in item_spec_values|get_item_spec_values_for_spec:'Display' %}
                    <div class="d-flex flex-column align-items-center mr-5">
                      <i class="fa fa-laptop" aria-hidden="true"></i>
                      <p class="yekanbakh-en text-xs font-semiBold leading-4 text-gray-700">{{ item_spec.value }}</p>
                    </div>
                  {% empty %}
                    <p>No Display specs found for this item!</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}

              <!-- View item_spec_values related to the 'Processor' Spec -->
              {% with item_spec_values=item.itemspecvalue_set %}
                {% if item_spec_values|get_item_spec_values_for_spec:'Processor' %}
                  {% for item_spec in item_spec_values|get_item_spec_values_for_spec:'Processor' %}
                    <div class="d-flex flex-column align-items-center mr-5">
                      <i class="fa fa-microchip" aria-hidden="true"></i>
                      <p class="yekanbakh-en text-xs font-semiBold leading-4 text-gray-700">{{ item_spec.value }}</p>
                    </div>
                  {% empty %}
                    <p>No Processor specs found for this item!</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}

              <!-- View item_spec_values related to the 'Memory (RAM)' Spec -->
              {% with item_spec_values=item.itemspecvalue_set %}
                {% if item_spec_values|get_item_spec_values_for_spec:'Memory (RAM)' %}
                  {% for item_spec in item_spec_values|get_item_spec_values_for_spec:'Memory (RAM)' %}
                    <div class="d-flex flex-column align-items-center">
                      <i class="fa-solid fa-memory"></i>
                      <p class="yekanbakh-en text-xs font-semiBold leading-4 text-gray-700">{{ item_spec.value }}</p>
                    </div>
                  {% empty %}
                    <p>No Memory(RAM) specs found for this item!</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
        <div class="justify-content-center px-4 pt-6">
          <a target="_blank" class="yekanbakh-en -tracking-0.5 line-clamp-3 h-75 overflow-hidden font-medium leading-25 text-gray-800 d-flex justify-content-center" href="{% url 'item-detail' item.id %}">
            {{ item.title }}
          </a>
        </div>
        <div class="pt-6">
          <div class="d-flex justify-content-between px-4 pb-4">
            <div class="rounded bg-red-600 text-white d-flex justify-content-center items-center gap-1 min-w-6 px-1 h-17 lg-h-19 lg-min-w-7 bg-red-600">
              <svg class="icon-white-percent fill-white w-9 h-9 lg-w-11 lg-h-11">
                <i class="fa fa-percent" aria-hidden="true"></i>
              </svg>
              <span class="text-center d-flex text-sm justify-content-center items-center font-semiBold leading-4 pt-1 lg-pt-3">{{ item.discount }}</span>
            </div>
            <div class="d-flex flex-column align-items-center text-center">
              <p class="text-22 font-semiBold leading-5 text-red-600">
                {{ item.discounted_price }}<span class="text-gray-800 text-xs font-medium mr-1 font-semiBold leading-5 text-red-600"><i class="fa fa-usd" aria-hidden="true"></i></span>
              </p>
              <div class="d-flex pl-1">
                <p class="text-lg leading-5 text-gray-500 line-through">
                  {{ item.price }}<span class="text-gray-800 text-xs font-medium mr-1 font-semiBold leading-5 text-gray-500"><i class="fa fa-usd" aria-hidden="true"></i></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock %}
